*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div[class="div-table"] {
    background-color: #fff;
    width: 100%;
}
h2[id="h2-ponto"] {
    text-align: left;
    padding: 10px;
    color: #333;
}
/*TABLE*/
table[id="table-ponto"] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1%;
}
thead[id="thead-ponto"]{
    color: red;
    font-size: 1.4rem;
    border: 1px solid rgb(105, 7, 7);

}
tbody[id="tbody-ponto"]{
    color: #333;
    font-size: 1.2rem;
}
tr{
    border: 1px solid rgb(212, 199, 199);
    height: 20px;
}
th[id="th-ponto"]{
    border: 1px solid rgb(212, 199, 199);
    height: 20px;
}
a{
    text-decoration: none;
    border-radius: 2px;
    color: #000;
}
